/*
Mi sitio Web con CSS
Author: Diego Castro.
Date: 24/10/2019
 
Filename: dosColumnas.css
*/

body > nav {
	width: 20%;
	float: left;
	margin: 0 0 0 1.5%;
}

body > article#articulo1 {
	width: 70%;
	float: left;
	margin: 0 3% 0 3%;
}

body > aside#redes {
	width: 70%;
	float: left;
	margin: 0 3% 0 3%;
}

