@charset "utf-8";

/*
    Estructura 3 columnas
*/
body > nav {
	width: 10%;
	float: left;
}

body > section#seccion1 {
    width: 60%;
	float: left;

}

body > section#seccion2{
    width: 60%;
	float: left;
}

body > aside#redesSociales{
    width: 25%;
    float: left;
}

footer{
    clear: both;
}

